<div class="login-out-container">
  
  <form class="login-form">
    <legend>Sign In</legend>
    <label>
      <input type="text" placeholder="Email" id="email-login" />
    </label>
    <label>
      <input type="password" placeholder="Password" id="password-login" />
    </label>
    <div>
      <button type="submit">Login</button>
    </div>
  </form>

  <form class="signup-form">
    <legend>Sign Up</legend>
    <label>
      <input type="text" placeholder="Username" id="username-signup" />
    </label>
    <label>
      <input type="text" placeholder="Email" id="email-signup" />
    </label>
    <label>
      <input type="password" placeholder="Password" id="password-signup" />
    </label>
    <div>
      <button type="submit">Signup</button>
    </div>
  </form>
</div>
  <script src="./javascript/sign-up.js"></script>
  <script src="/javascript/login.js"></script>
