*, *::after, *::before {
    box-sizing: border-box
}

html, body{
    height: 100%;
    margin: 0 ;
    font-family: 'Roboto', sans-serif;
    background-color: #edf2f4
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
    color: #2b2d42
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0
}

textarea {
    resize:none
}

.header {
    min-height: 6vh;
    border-bottom: solid;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
    align-items: center;
}

/*      Signup/out Form Styles     */

.login-out-container {
    min-height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.signup-form form input,
.login-form form input {
    padding: .7rem;
    border-radius: 10px;
    background-color: lightgrey;
    border: none;
}

button {
    padding: 7px 20px;
    background-color: rgb(58, 49, 49);
    color: lightgrey;
    border: none;
    border-radius: 10px;
    cursor: pointer
}

.login-btn{
    font-size: 1.7rem
}
 
.button-loggedin a  {
    font-size: 2rem;
    margin: 0 10px
}

.signup-form, .login-form {
    margin: 0 10vw 10vw;
}

.signup-form label, 
.login-form label{
    display: block;
    margin: 1.8vh 0
}

.signup-form h2,
.login-form h2 {
    font-size: 2rem;
}

#err-message {
    color: red;
    margin-bottom: 10px
}

/*   Dashboard Styles   */


    /* Create Post Form Styles */

.crt-post {
    border: 2px solid black;
    margin: 2.5vh auto;
    width: clamp(380px, 35vw, 80vw)
}

.crt-post h2 {
    margin: 2vh 1vh
}

.new-post-form {
    padding: 1vh;
}

.new-post-form div input {
    padding: .5rem;
    margin-top: .5vh
}

.post-capt{
    display: flex;
    flex-direction:column
}

.post-img {
    margin: 1.5vh 0
}

.submit-btn {
    text-align: center
}

.upload-btn {
    width: 150px;
}
    /* Post Styles */


.post-container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-list-items {
    margin-bottom: 5vh;
    width: clamp(380px, 35vw, 600px);
}

.post-username {
    font-size: clamp(1.4rem, 1.5vw, 2.5rem);
    font-weight: 600;
    padding: 1vh 6px 
}

.img-post {
    min-width: 100%;
    position: relative;
    text-align: center
}

img {
    padding: 1vh 0
}

.img-post::before,
.img-post::after {
    content: '';
    min-width: 100%;
    min-height: 3px;
    position: absolute;
    left: 0;
    background-color: black
}

.img-post::after {
    bottom: 0;
}

.sp-caption,
.post-caption {
    padding: 10px;
    font-size: clamp(.95rem, 1.2vw, 2rem);
    word-break: break-word
}

/*  Single Post Styles  */

.sp-post {
    width: clamp(390px, 60vw, 1000px);
    margin: 4vh auto;
    text-align: center;
}

.sp-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem
}

.sp-username, .sp-date {
    margin: 0 1vw
}

.delete-post-form {
    text-align: end;
    margin: 1.5vh 1vw
}

.comt-wrapper {
    border: 1px solid black;
    width: clamp(390px, 60vw, 1000px);
    margin: 0 auto;
    padding-bottom: 2vh;
    background-color: #8d99ae
}

.sp-add-comment {
    margin: 1.5vh 0
}

.comment-form {
    text-align: center;
}

.comment-form label textarea {
    display: block;
    min-width: 80%;
    margin: 1vh auto
}

.form-title {
    color: white;
    font-size: clamp(1.5rem,2vw, 3rem)
}

.comt-container {
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    margin: 2vh 3vw;
}

.comt-container div {
    margin: 7px 0
}

.comt-header {
    display: flex;
    justify-content: space-between;
    align-items: end
}

.comment-detail {
    word-break:break-all
}

.delete-btn-div {
    text-align: end
}



@media screen and (min-width: 600px ) {
    /*  Login/out Styles  */
    .login-out-container {
        flex-direction: row
    }


    /*  Single Post Style  */ 
    .sp-header {
        font-size: 1.6rem
    }
}   