* {
    box-sizing: border-box
}

html, body{
    height: 100%;
    margin: 0 ;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

input {
    padding: .7rem;
    border-radius: 10px;
    background-color: lightgrey;
    border: none;
}

button {
    padding: 7px 20px;
    background-color: rgb(58, 49, 49);
    color: lightgrey;
    border: none;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: black
}

header {
    margin: 0 auto;
    border-bottom: solid;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
    align-items: center;
}

.not-login {
    font-size: 1.5rem
}
 
.button-loggedin a  {
    font-size: 2rem;
    margin: 0 10px
}

/*      Signup/out Form Styles     */

.login-out-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
}

.signup-form, .login-form {
    margin: 5vh 5vw
}

.signup-form label, 
.login-form label{
    display: block;
    margin: 1.8vh 0
}


@media screen and (min-width: 550px ) {
    /*  Login/out Styles  */
    .login-out-container {
        flex-direction: row
    }
}