* {
    box-sizing: border-box
}

html, body{
    height: 100%;
    margin: 0 ;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

input {
    padding: .5rem
}

a {
    text-decoration: none;
    color: black
}

header {
    margin: 0 auto;
    border-bottom: solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
    align-items: center;
}

.not-login {
    font-size: 1.5rem
}

.login-out-container {
    display: flex;
    justify-content: center;
    padding-top: 10vh
}

.login-out-container div {
    margin: 0 2vw
}


.login-out-container div label{
    display: block;
    margin: 1.5vh 0
}

.login-out-container div form label:nth-child(2) {
    margin-top: 3vh
}

legend {
    font-size: 2rem;
}