*, *::after, *::before {
    box-sizing: border-box
}

html, body{
    height: 100%;
    margin: 0 ;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0
}

textarea {
    resize:none
}

.login-out-container div form input {
    padding: .7rem;
    border-radius: 10px;
    background-color: lightgrey;
    border: none;
}

button {
    padding: 7px 20px;
    background-color: rgb(58, 49, 49);
    color: lightgrey;
    border: none;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: black
}

header {
    margin: 0 auto;
    border-bottom: solid;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
    align-items: center;
}

.not-login {
    font-size: 1.5rem
}
 
.button-loggedin a  {
    font-size: 2rem;
    margin: 0 10px
}

/*      Signup/out Form Styles     */

.login-out-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
}

.signup-form, .login-form {
    margin: 5vh 5vw
}

.signup-form label, 
.login-form label{
    display: block;
    margin: 1.8vh 0
}

.signup-form h2,
.login-form h2 {
    font-size: 2rem
}

#err-message {
    color: red;
    margin-bottom: 10px
}

/*   Dashboard Styles   */

    /* Create Post Form Styles */

.crt-post {
    border: 2px solid black;
    margin: 2.5vh auto;
    width: clamp(350px, 35vw, 80vw)
}

.crt-post h2 {
    margin: 2vh 1vh
}

.new-post-form {
    padding: 1vh;
}

.new-post-form div input {
    padding: .5rem;
    margin-top: .5vh
}

.post-capt{
    display: flex;
    flex-direction:column
}

.post-img {
    margin: 1.5vh 0
}

.submit-btn {
    text-align: center
}

.upload-btn {
    width: 150px;
}
    /* Post Styles */

.post-container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-list-items {
    margin-bottom: 5vh;
    width: clamp(390px, 35vw, 600px);
}

.username-post {
    font-size: clamp(1.1rem, 1.3vw, 2.5rem);
    font-weight: 600;
    padding: 1vh 6px 
}

.img-post {
    min-width: 100%;
    position: relative;
    text-align: center
}

.img-post::before,
.img-post::after {
    content: ' ';
    min-width: 100%;
    min-height: 3px;
    position: absolute;
    left: 0;
    background-color: black
}

.sp-caption,
.post-caption {
    padding: 10px;
    font-size: clamp(15px, 1.2vw, 2rem);
    word-break: break-all
}

/*  Single Post Styles  */

.sp-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem
}
.sp-header div {
    margin: 0 1.5vw
}

.delete-post-form {
    text-align: end;
    margin: 1.5vh 1vw
}

.comment-form {
    text-align: center
}

.sp-add-comment {
    margin-top: 3vh
}

.comment-form label textarea {
    display: block;
    margin: 1vh auto
}

.comt-container {
    margin: 2vh 0 ;
    padding: 0 1.5vw
}

.comt-container div {
    margin: 7px 0
}

.comt-header {
    display: flex;
    justify-content: space-between;
    align-items: end
}


.comment-detail {
    word-break:break-all
}



@media screen and (min-width: 600px ) {
    /*  Login/out Styles  */
    .login-out-container {
        flex-direction: row
    }

    /*   Dashboard Styles */
    img {
        padding: 1vh 0
    }

    .img-post::after {
        bottom: 0;
    }
}